.promise-section {
  width: 100%;
  background: #000000;
  color: white;
}

.promise-container {
  width: 85%;
  margin: auto;
}

.promise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.promise-card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  min-width: 0;
}

.promise-card:hover {
  transform: translateY(-10px);
  border-color: rgba(0, 194, 255, 0.5);
  box-shadow: 0 20px 40px rgba(0, 194, 255, 0.1);
}

.promise-card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.problem-text {
  color: #9ca3af;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 7px;
}

.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  margin: 7px 0;
}

.solution-text {
  font-size: 17px;
  font-weight: 600;
  color: #00C2FF;
  line-height: 1.5;
}

.promise-header {
  text-align: center;
  margin-bottom: 90px;
}

.promise-title {
  font-size: clamp(40px, 5.2vw, 65px);
  font-weight: 800;
  margin-bottom: 25px;
}

.promise-intro {
  font-size: 22px;
  color: #9ca3af;
  max-width: 650px;
  margin: auto;
  line-height: 1.6;
}

/* Tablet */
@media (max-width: 1024px) {
  .promise-container {
    width: 90%;
  }

  .promise-title {
    font-size: clamp(34px, 6vw, 50px);
  }

  .promise-intro {
    font-size: 20px;
  }

  .promise-grid {
    gap: 25px;
  }

  .promise-card {
    padding: 22px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .promise-section{
    margin-top: -230px;
  }
  .promise-container {
    width: 92%;
  }

  .promise-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .promise-header {
    margin-bottom: 60px;
  }

  .promise-title {
    font-size: clamp(28px, 7vw, 38px);
  }

  .promise-intro {
    font-size: 18px;
    line-height: 1.5;
  }

  .promise-card {
    padding: 16px;
    border-radius: 16px;
  }

  .promise-card h3 {
    font-size: 18px;
    line-height: 1.3;
  }

  .problem-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .solution-text {
    font-size: 15px;
    line-height: 1.4;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .promise-container {
    width: 94%;
  }

  .promise-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .promise-title {
    font-size: 26px;
  }

  .promise-intro {
    font-size: 16px;
  }

  .promise-card {
    padding: 14px;
  }

  .promise-card h3 {
    font-size: 16px;
  }

  .problem-text {
    font-size: 13px;
  }

  .solution-text {
    font-size: 14px;
  }
}